{set title = ""}{% extends "../layout/base.html" %} {% block css %}
<link rel="stylesheet" href="css/posts/write.css" />
{% endblock %} {% block script %} {% endblock %} {% block contents%}
<section class="write">
  <form action="" method="post">
    <div class="write__column">
      <h1 class="write__title">
        <input
          type="text"
          name="name"
          placeholder="제목을 입력하세요."
          value="{{ product.name }}"
        />
      </h1>
    </div>
    <div class="write__column">
      <textarea
        name="contents"
        id="contents"
        cols="30"
        rows="10"
        value="{{ product.contents }}"
        placeholder="내용을 작성하세요."
      ></textarea>
    </div>
    <div class="write__column">
      <label for="tag">카테고리 선택</label>
      <select id="tag">
        <option value="news" selected>news</option>
        <option value="gallery">gallery</option>
        <option value="paper">paper</option>
      </select>
    </div>
  </form>
  <div class="write__btn-wrapper">
    <button type="submit" class="write__btn">작성하기</button>
    <button type="submit" class="write__btn-del">삭제하기</button>
  </div>
</section>

<script></script>
{% include "layout/footer.html" %}{% endblock %}
