{% set title = "새 글 작성" %}{% extends "layout/base.html" %} {% block css %}
<link rel="stylesheet" href="/css/posts/write.css" />
{% endblock %} {% block script %} {% endblock %} {% block contents%}
<section class="write">
  <form action="" method="POST">
    <div class="write__column">
      <h1 class="write__title">
        <input
          type="text"
          name="title"
          placeholder="제목을 입력하세요."
          value="{{ posts.title }}"
        />
      </h1>
    </div>
    <div class="write__column">
      <textarea
        name="description"
        id="description"
        placeholder="내용을 작성하세요."
      >
        {{ posts.description }}
      </textarea>
    </div>
    <div class="write__column">
      <label for="tag">카테고리 선택</label>
      <select id="tag" name="tag">
        <option value="news" selected>news</option>
        <option value="paper">paper</option>
      </select>
    </div>
    <div class="write__btn-wrapper">
      <button type="submit" class="write__btn">작성하기</button>

      {% if posts.title %}
      <a
        href="/edit/delete/{{ posts.id }}"
        onclick="return confirm('삭제하시겠습니까?')"
        ><button type="button" class="write__btn-del">삭제하기</button></a
      >
      {% else %}
      <a href="/"
        ><button type="button" class="write__btn-del">뒤로가기</button></a
      >
      {% endif %}
    </div>
  </form>
</section>

<script></script>
{% include "layout/footer.html" %}{% endblock %}
