<?xml version="1.0" encoding="utf-8"?> 
<configuration> 
 <system.webServer> 
 <handlers> 
  <add name="iisnode" path="server.js" verb="*" modules="iisnode" /> 
 </handlers> 

 <rewrite> 
  <rules> 
  <!-- Don't interfere with requests for node-inspector debugging --> 
  <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true"> 
   <match url="^server.js\/debug[\/]?"/> 
  </rule> 

  <!-- First we consider whether the incoming URL matches a physical file in the /public folder --> 
  <rule name="StaticContent" patternSyntax="Wildcard"> 
    <action type="Rewrite" url="public/{R:0}" logRewrittenUrl="true"/> 
    <conditions> 
     <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/> 
    </conditions> 
   <match url="*.*"/> 
  </rule> 

  <!-- All other URLs are mapped to the Node.js application entry point --> 
  <rule name="DynamicContent"> 
    <conditions> 
     <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/> 
    </conditions> 
   <action type="Rewrite" url="server.js"/> 
  </rule> 

  <rule name="SocketIO" patternSyntax="ECMAScript"> 
    <match url="socket.io.+"/> 
   <action type="Rewrite" url="server.js"/> 
  </rule> 
  </rules> 
 </rewrite> 

 <iisnode promoteServerVars="LOGON_USER" /> 

 </system.webServer> 
</configuration> 