@import './base/styles.css';

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.contact__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__wrapper {
  width: 70rem;
  padding: 5rem;
}

.contact__screen {
  position: relative;
  background: #f8f9fa;
  border-radius: 1.5rem;
}

.contact__screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen__header-icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen__header-icon.close {
  background: #f36a4c;
}

.screen__header-icon.maximize {
  background: #ffbf2c;
}

.screen__header-icon.minimize {
  background: #46be5f;
}

.screen__header-right {
  display: flex;
  color: #ddd;
  font-size: 1.25rem;
}

.screen__body {
  display: flex;
  justify-content: space-between;
}

.screen__body-item {
  display: flex;
  padding: 3rem;
}

.screen__body-item.left {
  display: flex;
  flex-direction: column;
}

.left .left__title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #1864ab;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 3rem;
}

.left__title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 2rem;
  height: 0.25rem;
  background: #1864ab;
}

.left__contents {
  margin-top: auto;
  font-size: 0.8rem;
  color: #888;
}

.item__form {
  display: flex;
  flex-direction: column;
}

.item__form-group {
  margin-bottom: 3rem;
}

.item__form-group.btn {
  margin-bottom: 0;
  text-align: right;
}

.item__form-control {
  width: 20rem;
  padding: 1rem 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.item__form-control::placeholder {
  color: #666;
}

.item__form-control:focus {
  border-bottom-color: #ddd;
}

.item__form-button {
  background: none;
  border: none;
  color: #228be6;
  font-family: 'Sunflower', sans-serif;
  font-size: 2rem;
  cursor: pointer;
}

.item__form-button:hover {
  color: #1864ab;
}

@media screen and (max-width: 1024px) {
  .contact__wrapper {
    width: 60rem;
    padding: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__wrapper {
    width: 50rem;
    padding: 3rem;
  }
}

@media screen and (max-width: 414px) {
  .contact__wrapper {
    width: 25rem;
    padding: 0.5rem;
    margin-top: 3rem;
  }

  .screen__body-item.left {
    display: none;
  }

  .screen__body-item {
    padding: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .contact__wrapper {
    width: 20rem;
    margin-top: 3rem;
  }

  .screen__body-item {
    padding: 2rem;
  }

  .item__form-control {
    width: 15rem;
  }
}
