@import './base/styles.css';

@keyframes showRotateImg {
  from {
    opacity: 0;
    transform: translateY(30rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.rotateImg {
  position: fixed;
  top: 45%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s linear, opacity 0.5s linear;
}

.rotateImg img {
  width: 10%;
  height: 10%;
  opacity: 0;
  animation: showRotateImg 0.5s forwards;
  animation-delay: 1s;
}

.digitalTwin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.digitalTwin section:nth-child(1) {
  height: 1300px;
}
.digitalTwin section:nth-child(2) {
  height: 3000px;
}
.digitalTwin section:nth-child(2) {
  height: 1500px;
}

.digitalTwin .digitalTwin__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.digitalTwin .dt-header__title {
  position: sticky;
  top: 20%;
  font-family: 'Black Han Sans', sans-serif;
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
  transition: opacity 0.2s linear, transform 0.5s linear;
}

.digitalTwin .dt-header__sub-title {
  position: sticky;
  top: 35%;
  margin-top: 3rem;
  text-align: left;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2rem;
  text-decoration: wavy underline;
  text-decoration-color: #0257a7;
  line-height: 3rem;
  color: #ced4da;
  width: 80%;
  transition: opacity 0.2s, transform 0.5s;
}
.dt-header__sub-title {
  animation: textLine 1s linear forwards;
  animation-delay: 1s;
}

.digitalTwin .digitalTwin__img {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.dt-img .dt-img__column:nth-child(1) {
  position: sticky;
  top: 30%;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.dt-img__column .reality {
  position: relative;
  transition: transform 0.5s;
}

.reality--opacity {
  transform: scale(0);
}

.dt-img__column img {
  padding: 1rem 5rem;
  top: 0;
  left: 0;
  z-index: -1;
}

.dt-img__column .reality__contents {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Do Hyeon', sans-serif;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: 0.2rem solid #495057;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 30px -6px;
  border-radius: 2rem;
  background-color: rgba(178, 218, 255, 0.8);
}
.reality__contents:nth-child(1) {
  bottom: 0;
  left: 10%;
}
.reality__contents:nth-child(2) {
  bottom: 25%;
  left: 0;
}
.reality__contents:nth-child(3) {
  bottom: 50%;
  left: 3%;
}
.reality__contents:nth-child(4) {
  bottom: 75%;
  left: 20%;
}
.reality__contents:nth-child(5) {
  bottom: 75%;
  right: 15%;
}
.reality__contents:nth-child(6) {
  bottom: 50%;
  right: 5%;
}
.reality__contents:nth-child(7) {
  bottom: 25%;
  right: 0;
}
.reality__contents:nth-child(8) {
  bottom: 0;
  right: 20%;
}

.dt-img .dt-img__column:nth-child(2) {
  position: sticky;
  top: 30%;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.dt-img__column .virtual {
  position: relative;
  transition: transform 0.5s;
}

.virtual--opacity {
  transform: scale(0);
}

.dt-img__column img {
  padding: 1rem 5rem;
  top: 0;
  left: 0;
  z-index: -1;
}

.dt-img__column .virtual__contents {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Do Hyeon', sans-serif;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: 0.2rem solid #495057;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 30px -6px;
  border-radius: 2rem;
  background-color: rgba(255, 193, 54, 0.8);
}
.virtual__contents:nth-child(1) {
  bottom: 0;
  left: 15%;
}
.virtual__contents:nth-child(2) {
  bottom: 25%;
  left: 0;
}
.virtual__contents:nth-child(3) {
  bottom: 50%;
  left: 3%;
}
.virtual__contents:nth-child(4) {
  bottom: 75%;
  left: 20%;
}
.virtual__contents:nth-child(5) {
  bottom: 65%;
  right: 10%;
}
.virtual__contents:nth-child(6) {
  bottom: 40%;
  right: 0;
}

.digitalTwin__icon {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 5rem;
}

.dt-icon__column:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.dt-icon__column:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 7rem;
}

.dt-icon__column:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.dt-icon__column:nth-child(1) p {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 3rem;
  color: #f1f3f5;
}

.dt-icon__slider span {
  font-size: 2rem;
  font-family: 'Do Hyeon', sans-serif;
}

.dt-icon__column:nth-child(2) .dt-icon__slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-right: 3rem;
}

.dt-icon__column:nth-child(3) .dt-icon__slider {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  margin-left: 3rem;
}

.digitalTwin__icon .dt-icon__slider img {
  width: 10rem;
  height: 10rem;
  opacity: 0.7;
  transition: transform 0.3s, opacity 0.5s;
  cursor: pointer;
}

.dt-icon__slider img:active {
  opacity: 1;
  transform: scale(1.5);
}
@media screen and (max-width: 1366px) {
  .digitalTwin .dt-header__title {
    font-size: 6rem;
  }

  .digitalTwin .dt-header__sub-title {
    top: 30%;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .reality .reality__contents {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .virtual .virtual__contents {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .dt-img__column img {
    width: 35rem;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .digitalTwin .dt-header__title {
    font-size: 4rem;
  }

  .digitalTwin .dt-header__sub-title {
    top: 30%;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .reality .reality__contents {
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  .virtual .virtual__contents {
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  .dt-img__column img {
    width: 28rem;
    height: auto;
  }

  .digitalTwin__icon {
    padding: 0;
  }

  .dt-icon__column:nth-child(1) {
    margin-bottom: 4rem;
  }
  .digitalTwin__icon .dt-icon__slider img {
    width: 8rem;
    height: auto;
    margin: 0.5rem;
  }

  .dt-icon__slider span {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 0rem;
  }

  .rotateImg {
    top: 60%;
  }
  .rotateImg img {
    width: 18%;
    height: auto;
  }

  .digitalTwin .dt-header__title {
    font-size: 3.5rem;
  }

  .digitalTwin .dt-header__sub-title {
    top: 30%;
    font-size: 2rem;
    line-height: 3rem;
  }

  .digitalTwin__img:nth-child(1),
  .digitalTwin__img:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .dt-img .dt-img__column:nth-child(1),
  .dt-img .dt-img__column:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reality .reality__contents {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .virtual .virtual__contents {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .dt-img__column img {
    width: 35rem;
    height: auto;
  }

  .digitalTwin__icon {
    padding: 0;
  }

  .dt-icon__column:nth-child(1) {
    margin: 0;
    padding: 0.5rem 0;
  }

  .dt-icon__column:nth-child(1) p {
    font-size: 3.5rem;
  }

  .dt-icon__column:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0 1rem;
  }

  .dt-icon__column:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0;
    padding: 0 1rem;
  }

  .digitalTwin__icon .dt-icon__slider img {
    width: 6.5rem;
    height: auto;
    margin: 1rem;
  }

  .dt-icon__slider span {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 414px) {
  .digitalTwin .dt-header__title {
    font-size: 2.5rem;
  }

  .digitalTwin .dt-header__sub-title {
    top: 30%;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .reality .reality__contents {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .virtual .virtual__contents {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .dt-img__column img {
    width: 25rem;
    height: auto;
  }

  .dt-icon__column:nth-child(1) p {
    font-size: 2.25rem;
  }

  .digitalTwin__icon .dt-icon__slider img {
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }

  .dt-icon__slider span {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .digitalTwin .dt-header__title {
    font-size: 2.25rem;
  }

  .digitalTwin .dt-header__sub-title {
    top: 30%;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .reality .reality__contents {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .virtual .virtual__contents {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .dt-img__column img {
    width: 23rem;
    height: auto;
  }

  .dt-icon__column:nth-child(1) p {
    font-size: 2rem;
  }

  .digitalTwin__icon .dt-icon__slider img {
    width: 4rem;
    height: auto;
    margin: 0.5rem;
  }

  .dt-icon__slider span {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .digitalTwin .dt-header__title {
    font-size: 1.8rem;
  }

  .digitalTwin .dt-header__sub-title {
    top: 30%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .reality .reality__contents {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .virtual .virtual__contents {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .dt-img__column img {
    width: 20rem;
    height: auto;
  }

  .dt-icon__column:nth-child(1) p {
    font-size: 1.8rem;
  }
}
