@import './base/styles.css';

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member .member__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member__header .member__title {
  text-transform: uppercase;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

.member__header .member__sub-title {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2.5rem;
  color: #ced4da;
}

.member__main {
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
}

.member__main .member__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.member__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.member__img {
  position: relative;
  width: 15rem;
  height: 15rem;
}

.member__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 0 0 60px rgba(77, 171, 247, 0.2),
    -2px 10px 30px rgba(0, 0, 0, 0.25), 2px -10px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s, border-radius 0.5s, filter 0.5s;
  background-color: #b4c6ca;
}

.member__img:hover img {
  filter: blur(10px);
  border-radius: 40%;
  transform: scale(1.25);
  z-index: 0;
}

.member__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 15rem;
  height: 12rem;
  padding: 2rem 0;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-10rem) scale(0.5);
  z-index: -1;
  transition: transform 0.3s;
}

.member__info-show {
  transform: translateY(-3rem);
}

.member__info dt {
  color: #fff;
  font-family: 'Sunflower', sans-serif;
  font-size: 2rem;
}

.member__info dd {
  margin-top: 1rem;
  color: #ced4da;
  font-size: 1rem;
}

.email {
  position: absolute;
  width: 100%;
  top: 40%;
  display: flex;
  justify-content: center;
  font-family: 'Sunflower', sans-serif;
  font-size: 2.5rem;
  color: #fff;
  z-index: 1;
  opacity: 0;
  text-shadow: 1px 0 30px #212529, -1px 0 30px #212529;
  transition: opacity 0.3s;
}

.email-show {
  opacity: 1;
}

.github {
  position: absolute;
  width: 100%;
  top: 70%;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #212529;
  z-index: 1;
  opacity: 0;
  text-shadow: 1px 0 30px #212529, -1px 0 30px #212529;
  transition: opacity 0.3s;
}

.github-show {
  opacity: 1;
}

.alumni {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.alumni .alumni__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alumni__header .alumni__title {
  text-transform: uppercase;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

.alumni__header .alumni__sub-title {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2.5rem;
  color: #ced4da;
}

.alumni .alumni__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.alumni__row {
  margin: 10rem 0;
  background-color: #fff;
  border-radius: 3rem;
  box-shadow: -2px 10px 40px rgba(0, 0, 0, 0.15),
    2px -10px 40px rgba(0, 0, 0, 0.2);
}

.alumni__row:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.alumni__row:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.alumni__column img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 10px solid #ced4da;
}

.alumni__row:nth-child(1) .alumni__column:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  font-family: 'Sunflower', sans-serif;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0 2rem;
  border-radius: 5rem;
}

.alumni__row:nth-child(1)
  .alumni__column:nth-child(1)
  .alumni__itmes:nth-child(1) {
  font-size: 2rem;
  color: #fff;
}

.alumni__row:nth-child(1)
  .alumni__column:nth-child(1)
  .alumni__itmes:nth-child(1)
  dl {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #343a40;
}

.alumni__row:nth-child(1)
  .alumni__column:nth-child(1)
  .alumni__itmes:nth-child(2) {
  font-size: 1rem;
  margin-top: 1rem;
}

.alumni__row:nth-child(2) .alumni__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Sunflower', sans-serif;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0 2rem;
  border-radius: 5rem;
}

.alumni__row:nth-child(2)
  .alumni__column:nth-child(2)
  .alumni__itmes:nth-child(1) {
  font-size: 2rem;
  color: #fff;
}

.alumni__row:nth-child(2)
  .alumni__column:nth-child(2)
  .alumni__itmes:nth-child(1)
  dl {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #343a40;
}

.alumni__row:nth-child(2)
  .alumni__column:nth-child(2)
  .alumni__itmes:nth-child(2) {
  font-size: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 1366px) {
  .alumni .alumni__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .alumni__row {
    margin: 3rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .member__main {
    padding: 0 5rem;
    flex-direction: column;
    margin-top: 5rem;
  }

  .member__main .member__row {
    margin-bottom: 0;
  }

  .alumni {
    margin-top: 0;
  }
}
