@import './base/styles.css';

.research {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.research .research__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.research__header .research__title {
  text-transform: uppercase;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

.research__header .research__sub-title {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2.5rem;
  color: #ced4da;
}

.research__main {
  width: 100%;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
}

.research__main .research__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.research__img img {
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 0 0 60px rgba(77, 171, 247, 0.25);
}
