@import './base/styles.css';

.research {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.research .research__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.research__header .research__title {
  text-transform: uppercase;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

.research__header .research__sub-title {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2.5rem;
  color: #ced4da;
}

.research__main {
  width: 100%;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
}

.research__main .research__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.research__column h3 {
  font-family: 'Do Hyeon', sans-serif;
  color: #fff;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.research__column h4 {
  color: #ced4da;
  font-size: 1rem;
}

.research__column .research__img {
  position: relative;
  width: 20rem;
  height: 20rem;
}

.research__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 30px rgba(77, 171, 247, 0.25),
    -2px -2px 30px rgba(81, 207, 102, 0.25);
}

.rImg .rImg__cover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.25rem;
  left: 0.25rem;
  width: 19.5rem;
  height: 19.5rem;
  border-radius: 1rem;
  background-color: rgba(77, 171, 247, 0.8);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.rImg__cover:hover {
  opacity: 1;
}

.rImg__cover button {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.rImg__cover i {
  font-size: 5rem;
  color: #fff;
  transition: transform 0.3s, color 0.3s;
}

.rImg__cover i:hover {
  transform: scale(1.2);
  color: #69db7c;
}

@keyframes showModal {
  0% {
    transform: translateY(-50rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hiddenModal {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50rem);
    opacity: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-50rem);
  opacity: 0;
}

.show-modal {
  animation: showModal 0.5s forwards;
}

.hidden-modal {
  animation: hiddenModal 0.5s forwards;
}

.modal__btn {
  position: sticky;
  top: 8%;
  left: 93%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.leftright {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5rem;
  width: 3rem;
  background-color: #f4a259;
  border-radius: 1.5rem;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5rem;
  width: 3rem;
  background-color: #f4a259;
  border-radius: 1.5rem;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.modal__btn:hover .leftright {
  transform: rotate(-45deg);
  background-color: #f25c66;
}

.modal__btn:hover .rightleft {
  transform: rotate(45deg);
  background-color: #f25c66;
}

.modal__contents {
  position: relative;
  top: 5rem;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #f1f3f5;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
}

.modal__contents .modal__contents-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mHeader .mHeader__title {
  font-family: 'Black Han Sans', sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  padding: 2rem;
}

.mHeader .mHeader__sub-title {
  font-family: 'Do Hyeon', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.modal .modal__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__wrapper ol {
  font-family: 'Sunflower', sans-serif;

  list-style: decimal-leading-zero;
  font-size: 1.4rem;
  padding: 0 5rem;
}

.wrapper__items .itmes__item {
  margin-bottom: 3rem;
  padding: 1rem;
}

.wrapper__items .itmes__item:nth-child(2n + 1) {
  background-color: #e9ecef;
  border-radius: 1rem;
}

.itmes__item-contents dt strong {
  font-size: 1.6rem;
  font-weight: bold;
  color: #212529;
}

.itmes__item-contents dd {
  padding: 5rem 0;
  font-size: 1.6rem;
  text-align: center;
}

.itmes__item-etc dt {
  font-size: 1.2rem;
  font-style: italic;
  text-transform: capitalize;
  line-height: 2rem;
}

.itmes__item-etc dt span {
  font-size: 1.3rem;
  text-decoration: wavy underline;
  text-decoration-color: #0257a7;
  line-height: 1rem;
}

.itmes__item-etc dd {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  transition: color 0.2s;
}

.itmes__item-etc dd:hover {
  color: #e7305b;
}

.modal__timeline {
  border-left: 0.3rem solid #0257a7;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.03);
  color: #212529;
  margin-bottom: 5rem;

  position: relative;
  width: 30rem;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  line-height: 1.5rem;
  font-size: 1.5rem;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);
}

.modal__timeline .timline__item {
  position: relative;

  margin-bottom: 1.5rem;
  border-bottom: 0.25rem dashed rgba(0, 0, 0, 0.5);
  padding-bottom: 2rem;
}

.modal__timeline .timline__item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.modal__timeline .timline__item:before,
.modal__timeline .timline__item:after {
  position: absolute;
  display: block;
  top: 0;
}

.modal__timeline .timline__item:before {
  content: attr(data-date);
  left: -15rem;
  color: rgba(0, 0, 0, 1);
  text-align: right;
  font-family: 'Do Hyeon', sans-serif;
  font-style: italic;
  font-size: 1.25rem;

  width: 9rem;
  white-space: normal;
}

.modal__timeline .timline__item:after {
  content: '';
  top: 5px;
  left: -3.66rem;
  height: 1rem;
  width: 1rem;
  box-shadow: 0 0 0 4px #004ffc;
  background: #ced4da;
  border-radius: 50%;
}

.timline__item dl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timline__item dl dt {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2rem;
}

.timline__item dl dd {
  font-family: 'Sunflower', sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem 0 1.5rem 0;
  color: #495057;
  line-height: 2rem;
}

@media screen and (max-width: 1024px) {
  .research__main {
    flex-direction: column;
  }

  .research__column {
    margin: 2rem 0;
  }

  .research {
    height: 100%;
  }
}
