.footer {
  position: relative;
  bottom: -3rem;
  left: -3rem;
  width: 100vw;
  padding: 1rem 0;
  background-color: #343a40;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f1f3f5;
  font-family: 'Sunflower', sans-serif;
  z-index: -1;
}

.footer__column img {
  width: 3rem;
  height: 3rem;
}

.footer .footer__column:nth-child(1) {
  font-size: 1.25rem;
}

.footer .footer__column:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
}

.footer__column:nth-child(3) span {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
}
