.footer {
  position: relative;
  bottom: -3rem;
  left: -3rem;
  width: 100vw;
  padding: 1rem 0;
  background-color: #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__column img {
  width: 3rem;
  height: 3rem;
}
