{% set title = "Wellcome | Digital Twin" %} {% extends "./layout/base.html" %}
{% block css %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="css/main.css" />
{% endblock %} {% block script %}
<script defer src="js/main/bg.js"></script>
<script defer src="js/main/trigger.js"></script>
{% endblock %} {% block contents%}
<header class="js-backgroundImg">
  <div class="main__header">
    <div class="main__header-column">
      <h1 class="main__header-title">
        Digital Twin Laboratory
      </h1>
      <h2 class="main__header-subtitle">
        동의대학교 정보공학관(23호관) 107호
      </h2>
      <div class="main__more">
        <button class="js-trigger" type="button">
          <img src="/img/logos/dt-logo.png" alt="digital twin" />
          <span>더보기</span>
        </button>
      </div>
    </div>
    <div class="main__header-column">
      <div class="main__logo logo">
        <span class="logo__deu">
          <img src="img/logos/deu-logo.png" alt="동의대학교" />
        </span>
      </div>
    </div>
  </div>
</header>

<main class="main">
  <section class="main__tag">
    <ul class="main__tag-list list">
      <li class="list__item">
        <button type="menu">
          #ALL
        </button>
      </li>
      <li class="list__item">
        <button type="menu">
          #NEWS
        </button>
      </li>
      <li class="list__item">
        <button type="menu">
          #GALLERY
        </button>
      </li>
      <li class="list__item">
        <button type="menu">
          #PAPER
        </button>
      </li>
    </ul>
    <div class="main__search">
      <i class="fas fa-search"></i>
    </div>
  </section>
  <section class="main__section">
    <div class="container-fuild">
      <ol class="row">
        <li class="col-lg-4 col-md-6 col-sm-12">
          <div class="posts--post">
            <a href="">
              <h2 class="posts--post__title">
                digital twin 뉴스
              </h2>
              <h3 class="posts--post__subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                quis autem neque quisquam rem, iusto modi nisi aliquam, nemo
                quae sint. Quaerat amet magni cum ratione natus blanditiis ad
                ipsam rem molestias maiores velit, nemo eligendi repellendus
                omnis totam modi voluptatem non et delectus quos dolorem
                obcaecati. Facere at cupiditate nulla mollitia, totam corrupti
                ad autem. Aut quae labore ex. Voluptatibus, voluptate numquam
                fugit enim tempora cumque autem placeat asperiores ipsum nihil
                aut consectetur sunt non at natus a ex dolorum soluta. Possimus
                et rem autem illum, eum blanditiis provident consequuntur sed
                recusandae? Hic dignissimos culpa iure qui recusandae eligendi?
              </h3>
            </a>
            <p class="posts--post__date">
              Posted by September 24, 2019
            </p>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-12">
          <div class="posts--post">
            <a href="">
              <h2 class="posts--post__title">
                digital twin 뉴스
              </h2>
              <h3 class="posts--post__subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae quis neque perferendis asperiores earum repellat
                quam, aperiam libero harum nostrum, ipsum debitis veritatis,
                laudantium accusamus dignissimos dolor sint. Ullam, porro!
              </h3>
            </a>
            <p class="posts--post__date">
              Posted by September 24, 2019
            </p>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-12">
          <div class="posts--post">
            <a href="">
              <h2 class="posts--post__title">
                digital twin 뉴스
              </h2>
              <h3 class="posts--post__subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae quis neque perferendis asperiores earum repellat
                quam, aperiam libero harum nostrum, ipsum debitis veritatis,
                laudantium accusamus dignissimos dolor sint. Ullam, porro!
              </h3>
            </a>
            <p class="posts--post__date">
              Posted by September 24, 2019
            </p>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-12">
          <div class="posts--post">
            <a href="">
              <h2 class="posts--post__title">
                digital twin 뉴스
              </h2>
              <h3 class="posts--post__subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae quis neque perferendis asperiores earum repellat
                quam, aperiam libero harum nostrum, ipsum debitis veritatis,
                laudantium accusamus dignissimos dolor sint. Ullam, porro!
              </h3>
            </a>
            <p class="posts--post__date">
              Posted by September 24, 2019
            </p>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-12">
          <div class="posts--post">
            <a href="">
              <h2 class="posts--post__title">
                digital twin 뉴스
              </h2>
              <h3 class="posts--post__subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae quis neque perferendis asperiores earum repellat
                quam, aperiam libero harum nostrum, ipsum debitis veritatis,
                laudantium accusamus dignissimos dolor sint. Ullam, porro!
              </h3>
            </a>
            <p class="posts--post__date">
              Posted by September 24, 2019
            </p>
          </div>
        </li>
      </ol>
    </div>
  </section>
</main>
{% include "layout/footer.html" %} {% endblock %}
