<!DOCTYPE html>
<html lang="ko">

<head>

  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon">

  <meta property="og:type" content="website">
  <meta property="og:url" content="http://digitaltwin.deu.ac.kr">
  <meta property="og:title" content="Digital Twin">
  <meta property="og:description" content="Digital Twin Laboratory 홈페이지">
  <meta property="og:image" content="http://digitaltwin.deu.ac.kr/img/icon/AI.png">
  <meta charset=" utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Digital Twin Laboratory</title>
  <!-- 참조링크 -->
  <link href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css" rel="stylesheet">
  <style>
    .np {
      font-family: 'Nanum Pen Script', cursive;
    }

    @font-face {
      font-family: 'BMDOHYEON';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  </style>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />


  <!-- Custom styles for this template -->
  <link href="css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top" oncontextmenu='return false' ondragstart='return false' onselectstart='return false'>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Digital Twin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">

        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#digital-twin">DIGITAL TWIN?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">RESEARCH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#course">course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#gallery">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">MEMBER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#ALUMNI">ALUMNI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container" >
      <div class="intro-text" >
        <div class="intro-logo" >
          <a class="portfolio-link" data-toggle="modal" href="#welcome">
            <img class="img-fluid" style="width: 130px;" src="./img/logos/deu-logo.png"
              onmouseover="this.src='./img/click.png'" onmouseout="this.src='./img/logos/deu-logo.png'" />
          </a>
          <p style="font-family: BMDOHYEON;">마우스를 올려보세요</p>
        </div>
        <div class="intro-heading text-uppercase" style="color:azure;">Digital Twin Laboratory
          <br />
          <p style="font-size: 2.5vw;">
            동의대학교 정보공학관(23호관) 107호</p>
        </div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#digital-twin">More</a>
      </div>
    </div>
  </header>


  <!-- Services -->
  <section class="page-section" id="digital-twin">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">What is digital twin?</h2>
          <hr />
          <h6 style="color:rgb(100, 147, 240) ;">컴퓨팅 사이버상에 현실 사물의 쌍둥이 <br /> 객체인 가상실체를 만들고, 현실에서 <br />발생할 수 있는 상황을
            컴퓨터로 시뮬레이션 하여
            <br />결과를 미리 예측 / 최적화 하는 응용 기술</h6>
        </div>
      </div>
      <p style="text-align: center; vertical-align: bottom;" />
      <img src="./img/digital-twin.png" style="max-width: 100%; height: auto;">
      </p>
      <div class="row text-center">
        <div class="col-lg-12 text-center">
          <h4 style="padding-bottom: 30px; color: gray;">
            <i>↓Digital Twin 요소 기술↓</i>
          </h4>
        </div>
        <div class="col-md-2 col-sm-6">
          <img src="./img/icon/IoT.png" style="max-width: 40%; height: auto;">
          <h5 style="padding-top:10px;  padding-bottom: 30px;">사물인터넷<br />(IoT)</h5>
        </div>
        <div class="col-md-2 col-sm-6">
          <img src="./img/icon/Cloud.png" style="max-width: 40%; height: auto; ">
          <h5 style="padding-top:10px;  padding-bottom: 30px;">클라우드<br />(Cloud)</h5>
        </div>
        <div class="col-md-2 col-sm-6">
          <img src="./img/icon/BigData.png" style="max-width: 40%; height: auto;">
          <h5 style="padding-top:10px; padding-bottom: 30px;">빅데이터<br />(Big Data)</h5>
        </div>
        <div class="col-md-2 col-sm-6">
          <img src="./img/icon/AI.png" style="max-width: 40%; height: auto;">
          <h5 style="padding-top:10px; padding-bottom: 30px;">인공지능<br />(AI)</h5>
        </div>
        <div class="col-md-2 col-sm-6">
          <img src="./img/icon/Simulation.png" style="max-width: 40%; height: auto;">
          <h5 style="padding-top:10px; padding-bottom: 30px;">시뮬레이션<br />(Simulation)</h5>
        </div>
        <div class="col-md-2 col-sm-6">
          <img src="./img/icon/3DPrinter.png" style="max-width: 40%; height: auto;">
          <h5 style="padding-top:10px; padding-bottom: 30px;">3D 프린터<br />(3D Printer)</h5>
        </div>
        <!-- <h3 class="section-subheading text-muted" style="padding-top: 100px;">
          아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/wichaiwi" target="_blank" title="Wichai.wi">Wichai.wi</a>
          from <a href="https://www.flaticon.com/kr/" target="_blank" title="Flaticon"> www.flaticon.com</a></h3> -->
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Research</h2>
          <h3 class="section-subheading text-muted">Paper & Project</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/1.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Paper</h4>
            <p class="text-muted">Journal</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/2.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Paper</h4>
            <p class="text-muted">Conference</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/3.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Project</h4>
            <p class="text-muted">Laboratory</p>
          </div>
        </div>
      </div>
      <!-- <h3 class="section-subheading text-muted" style="padding-top: 200px;  text-align: left;">
        PNG는 syedhassan에 의해 설계되었고, <a href="https://pngtree.com/">Pngtree.com</a>에서 유래되었다. -->
      <!-- </h3> -->
    </div>
  </section>

  <!-- course -->
  <section class="page-section" id="course">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Simulation Track in Automotive Engineering</h2>
          <h3 class="section-subheading text-muted">자동차공학과 시뮬레이션 트랙</h3>
        </div>
      </div>
      <p style="text-align: center; vertical-align: bottom;" />
      <img src="./img/course.png" style="max-width: 100%; height: auto;">
      </p>
    </div>
  </section>

  <!-- gallery -->
  <section class="bg-light page-section" id="gallery">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Lab Gallery</h2>
        <h3 class="section-subheading text-muted">...</h3>
      </div>
    
      <hr class="mt-2 mb-5" />
    
      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6">
          <!-- <a href="#" class="d-block mb-4 h-100"> -->
            <img
              class="img-fluid img-thumbnail"
              src="./img/gallery/1.jpg"
              alt=""
            />
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img
              class="img-fluid img-thumbnail"
              src="./img/gallery/2.jpg"
              alt=""
            />
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img
              class="img-fluid img-thumbnail"
              src="./img/gallery/3.jpg"
              alt=""
            />
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img
              class="img-fluid img-thumbnail"
              src="./img/gallery/4.jpg"
              alt=""
            />
        </div>
      </div>
    </div>
  </section>
  
  <!-- Team -->
  <section class="page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">MEMBER</h2>
          <h3 class="section-subheading text-muted">Digital Twin Laboratory<br /><br /><b>You will never know until you
              try.</b></h3>

        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="./img/team/1.jpeg" alt="">
            <h4>Sung-Uk Zhang</h4>
            <p class="text-muted">Professor</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#none">
                  <i class="fas fa-circle-notch fa-spin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="mailto: zsunguk@deu.ac.kr" data-toggle="tooltip" data-placement="top"
                  title="email : zsunguk@deu.ac.kr">
                  <i class="fas fa-at"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#none">
                  <i class="fas fa-circle-notch fa-spin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="./img/team/2.jpeg" alt="">
            <h4>Hyun-Joo Yoo</h4>
            <p class="text-muted">Researcher</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#none">
                  <i class="fas fa-circle-notch fa-spin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="mailto: comjoo@deu.ac.kr" data-toggle="tooltip" data-placement="top"
                  title="email : comjoo@deu.ac.kr">
                  <i class="fas fa-at"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#none">
                  <i class="fas fa-circle-notch fa-spin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="./img/team/3.png" alt="">
            <h4>Na-Yeon Choi</h4>
            <p class="text-muted">Postgraduate Student</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#none">
                  <i class="fas fa-circle-notch fa-spin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="mailto: miss_jackson@naver.com" data-toggle="tooltip" data-placement="top"
                  title="email : miss_jackson@naver.com">
                  <i class="fas fa-at"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#none">
                  <i class="fas fa-circle-notch fa-spin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/team/4.JPG" alt="">
            <h4>Min-Jun Seo</h4>
            <p class="text-muted">Student</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/jjunnnys" target="_blank" data-toggle="tooltip" data-placement="top"
                  title="깃허브">
                  <i class="fab fa-github-alt fa-lg"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="mailto: salswnss@gmail.com" data-toggle="tooltip" data-placement="top"
                  title="email : salswnss@gmail.com">
                  <i class="fas fa-at"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://velog.io/@ppby" data-toggle="tooltip" data-placement="top"
                title="블로그">
                <i class="fas fa-terminal"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="bg-light page-section" id="ALUMNI">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">ALUMNI</h2>
          <h3 class="section-subheading text-muted">Laboratory History</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2016-2017</h4>
                  <h4 class="subheading">Kyeong-su Seol</h4>
                  <p class="text-muted" style="font-size: small;">
                    (현) 신화모텍 개발팀 근무
                  </p>
                  <hr>
                </div>
                <div class="timeline-body">
                  <h6 style="font-style: italic;">↓대표적인 연구성과↓</h6>
                  <p class="text-muted">"Fatigue Test of 3D-printed ABS Parts Fabricated by Fused Deposition
                    Modeling"
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2017-2018</h4>
                  <h4 class="subheading">Panxi Zhao</h4>
                  <hr>
                </div>
                <div class="timeline-body">
                  <h6 style="font-style: italic;">↓대표적인 연구성과↓</h6>
                  <p class="text-muted">"Infill Print Parameters for Mechanical Properties of 3D Printed PLA
                    Parts"
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>
                  Keep on challenging</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Clients -->
  <!-- <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact</h2>
          <h3 class="section-subheading" style="color: darkgrey;">문의 하기</h3>
        </div>
      </div>
      <div class="alert alert-dismissible alert-primary" style="text-align: center;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <a href="#none" class="alert-link" data-toggle="tooltip" data-html='true' data-placement="bottom"
          title="1. 이름, 이메일, 내용 작성하기<br />2. SEND MESSAGE 누르기<br />3. 스팸 검사 후 이메일 보내짐">CONTACT 사용법</a>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form name="sentMessage" id="contactForm" novalidate action="https://formspree.io/xzbgkrbe" method="POST">
            <input type="hidden" name="_subject" value="Digital Twin Laboratory에 이메일이 도착했습니다." />
            <input type="text" name="_gotcha" style="display:none" />
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="text" class="form-control" placeholder="이름 *" id="name" name="name" required
                  data-validation-required-message="이름을 입력하세요." minlength="2">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group floating-label-form-group controls">
                <input type="email" class="form-control" placeholder="이메일 *" id="email" name="email" required
                  data-validation-required-message="이메일을 입력하세요.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group floating-label-form-group controls">
                <textarea rows="5" class="form-control" placeholder="내용 작성 *" id="message" name="message"
                  required="required" data-validation-required-message="내용을 입력하세요."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton">Send
                  Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Website 2020</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.deu.ac.kr/" target="_blank" data-toggle="tooltip" data-placement="top"
                title="동의대 홈페이지">
                <img src="./img/logos/deu-logo.png" style="max-width: 100%; height: auto; padding-bottom: 8px;">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://automotive-engineering.deu.ac.kr/dept08/3210/subview.do" target="_blank"
                data-toggle="tooltip" data-placement="top" title="자동차학과 교수진">
                <i class="fas fa-car-side"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://aecms.deu.ac.kr/" target="_blank" data-toggle="tooltip" data-placement="top"
                title="confluence 바로가기">
                <i class="fab fa-confluence"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Portfolio Modals -->

  <!-- Modal-welcome -->
  <div class="portfolio-modal modal fade" id="welcome" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h1 class="np">Welcome To Our Lab</h1>
                <img class="img-fluid" style="max-width: 80%; height: auto;" src="img/welcome.png" alt="">
                <p class="np" style="font-size: 3vw; color: grey;">digital
                  twin에
                  관심있는 학생은 연락주세요.
                </p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Journal</h2>
                <p class="item-intro text-muted">JOURNAL PUBLICATIONS & BOOK CHAPTER</p>
                <img class="img-fluid" style="border-radius:70%; max-width: 40%; height: auto;"
                  src="img/portfolio/1.png" alt="">
                <ol style="text-align: left;">
                  <li>
                    Na-Yeon Choi , Byoung-Chul Shin ,<b>S.-U. Zhang</b>, “A Comparative Study of the Linear-elastic and
                    Hyperelastic Models for Degradation of PLA Prepared using Fused Filament Fabrication”,
                    <i>
                      <br />Journal of the Korean Society of Manufacturing Process Engineers,
                      <br />2020-03-22 | journal-article.
                      <!-- <br /><a href="https://doi.org/10.14775/ksmpe.2018.17.4.009"
                        target="_blank">https://doi.org/10.14775/ksmpe.2018.17.4.009</a></i> -->
                  </li>
                  <br>
                  <li>
                    <b>S.-U. Zhang</b>, "Classifying Degraded Three-Dimensionally Printed Polylactic Acid Specimens
                    Using Artificial Neural Networks based on Fourier Transform Infrared Spectroscopy",
                    <i>
                      <br /> Applide Sciences
                      <br /> 2019 | journal-article
                      <br />DOI:<a href="https://www.mdpi.com/2076-3417/9/13/2772" target="_blank">
                        10.3390/app9132772</a>
                    </i>
                  </li>
                  <br />
                  <li>
                    K.-S. Seol, P. Zhao, B.-C. Shin, <b>S.-U. Zhang</b>, “Infill Print Parameters for Mechanical
                    Properties of
                    3D
                    Printed PLA Parts”,
                    <i>
                      <br />Journal of the Korean Society of Manufacturing Process Engineers,
                      <br />2018-08-01 | journal-article.
                      <br /><a href="https://doi.org/10.14775/ksmpe.2018.17.4.009"
                        target="_blank">https://doi.org/10.14775/ksmpe.2018.17.4.009</a></i>
                  </li>
                  <br>
                  <li>
                    <b>S.-U. Zhang</b>, “Degradation Classification of 3D Printing Thermoplastics Using Fourier
                    Transform Infrared Spectroscopy and Artificial Neural Networks”,
                    <i><br />Applied Sciences,
                      <br />2018-07-25 | journal-article.
                      <br />DOI:<a href="https://www.mdpi.com/2076-3417/8/8/1224" target="_blank"> 10.3390/app8081224
                      </a></i>
                  </li>
                  <br />
                  <li>K.-S. Seol, B.-C. Shin, <b>S.-U. Zhang</b>, “Fatigue Test of 3D-printed ABS Parts Fabricated by
                    Fused
                    Deposition Modeling”,
                    <i><br />Journal of the Korean Society of Manufacturing Process Engineers,
                      <br />2018 | journal-article.
                      <br /><a href="https://doi.org/10.14775/ksmpe.2018.17.3.093"
                        target="_blank">https://doi.org/10.14775/ksmpe.2018.17.3.093</a></i>
                  </li>
                  <br>
                  <li>
                    <b>S.-U. Zhang</b>, “Numerical evaluation of ABS parts fabricated by fused deposition
                    modeling and vapor smoothing”,
                    <i><br />Advances in Science, Technology and Engineering Systems Journal,
                      <br />2017-12-01| journal-article.
                      <br />DOI:<a
                        href="https://www.researchgate.net/publication/322726989_Numerical_evaluation_of_ABS_parts_fabricated_by_fused_deposition_modeling_and_vapor_smoothing"
                        target="_blank">10.25046/aj020620</a></i>
                  </li>
                  <br>
                  <li>
                    <b>S.-U. Zhang</b>, “Long-Term Reliability Prediction of LED Packages Using Numerical
                    Simulation”,
                    <i><br />Solid State Lighting Reliability Part 2,
                      <br />2017-07-13| book-chapter.
                      <br /><a href="https://doi.org/10.1007/978-3-319-58175-0_18"
                        target="_blank">https://doi.org/10.1007/978-3-319-58175-0_18</a></i>
                  </li>
                  <br>
                  <li>
                    S.J. Noh, N.H. Myung, M.J. Park, S.G. Kim, <b>S.-U. Zhang</b>, H.-W. Kang, “3D bioprinting for
                    tissue engineering”,
                    <i><br />Clinical Regenerative Medicine in Urology,
                      <br />2017 | book-chapter.
                      <br />DOI: <a href="https://link.springer.com/chapter/10.1007%2F978-981-10-2723-9_5"
                        target="_blank">10.1007/978-981-10-2723-9_5</a></i>
                  </li>
                  <br>
                  <li>
                    <b>S.-U. Zhang</b>, J.H. Han, H.-W. Kang, “Temperature-dependent mechanical properties of ABS
                    parts fabricated by fused deposition modeling and vapor smoothing”,
                    <i><br />International Journal of Precision Engineering and Manufacturing,
                      <br />2017 | journal-article.
                      <br />DOI: <a href="https://link.springer.com/article/10.1007%2Fs12541-017-0091-7"
                        target="_blank">10.1007/s12541-017-0091-7</a></i>
                  </li>
                  <br>
                  <li>
                    <b>S.-U. Zhang</b>, “Chip package interaction for LED packages”,
                    <i><br /> Reliability,
                      <br />2016-08 | journal-article.
                      <br />DOI: <a
                        href="https://www.sciencedirect.com/science/article/pii/S0026271416301391?via%3Dihub"
                        target="_blank">10.1016/j.microrel.2016.06.014</a></i>
                  </li>
                  <br>
                  <li>
                    <b>S.-U. Zhang</b>, “Quantification of silicone degradation for LED packages using finite
                    element
                    analysis”,
                    <i><br />Microelectronics Reliability,
                      <br />2015-12 | journal-article.
                      <br />DOI: <a
                        href="https://www.sciencedirect.com/science/article/pii/S0026271415301621?via%3Dihub"
                        target="_blank">10.1016/j.microrel.2015.09.006</a></i>
                  </li>
                  <br>
                  <li>
                    <b>S.-U. Zhang</b>, B.W. Lee “Fatigue life evaluation of wire bonds in LED packages using
                    numerical
                    analysis”,
                    <i><br />Microelectronics Reliability,
                      <br />2014 | journal-article.
                      <br />DOI: <a
                        href="https://www.sciencedirect.com/science/article/pii/S0026271414003448?via%3Dihub"
                        target="_blank">10.1016/j.microrel.2014.07.142</a></i>
                  </li>
                  <br>
                  <li>
                    <b>S.-U. Zhang</b>, A.V. Kumar “Inverse method for estimating resistivity of carbon fiber
                    composite
                    structures”,
                    <i><br />Journal of Engineering Materials and Technology, Transactions of the ASME,
                      <br />2011 | journal-article.
                      <br />DOI:
                      <a href="https://asmedigitalcollection.asme.org/materialstechnology/article-abstract/133/1/011009/465357/Inverse-Method-for-Estimating-Resistivity-of?redirectedFrom=fulltext"
                        target="_blank">10.1115/1.4002627</a></i>
                  </li>
                  <br>
                  <li><b>S.-U. Zhang</b>, A.V. Kumar “Three-dimensional magnetostatic analysis using structured mesh
                    and
                    nodal
                    elements”,
                    <i><br />IEEE Transactions on Magnetics,
                      <br />2011 | journal-article.
                      <br />DOI:<a href="https://ieeexplore.ieee.org/document/5599299"
                        target="_blank">10.1109/TMAG.2010.2086064</a></i>
                  </li>
                  <br>
                  <li>R.J. Sadleir, <b>S.-U. Zhang</b>, A.S. Tucker, S.H. Oh, “Imaging and quantification of anomaly
                    volume
                    using an
                    eight-electrode 'hemiarray' EIT reconstruction method”,
                    <i><br />Physiological Measurement,
                      <br />2008 | journal-article.
                      <br />DOI: <a href="https://iopscience.iop.org/article/10.1088/0967-3334/29/8/005"
                        target="_blank">10.1088/0967-3334/29/8/005</a></i>
                  </li>
                  <br>
                  <li>R.J. Sadleir, S. Grant, <b>S.-U. Zhang</b>, S.H. Oh, B.I. Lee, E.J. Woo, “High field MREIT:
                    Setup
                    and
                    tissue
                    phantom imaging at 11 T”,
                    <i><br />Physiological Measurement,
                      <br />2006 | journal-article.
                      <br />DOI: <a href="https://iopscience.iop.org/article/10.1088/0967-3334/27/5/S22"
                        target="_blank">10.1088/0967-3334/27/5/S22</a></i>
                  </li>
                  <br>
                  <li>R.J. Sadleir, S. Grant, <b>S.-U. Zhang</b>B.I. Lee, H.C. Pyo, S.H. Oh, C. Park, E.J. Woo, S.Y.
                    Lee, O.
                    Kwon,J.K. Seo, “Noise analysis in magnetic resonance electrical impedance tomography at 3 and 11 T
                    field”,
                    <i><br />Physiological Measurement,
                      <br />2005 | journal-article.
                      <br />DOI:
                      <a href="https://iopscience.iop.org/article/10.1088/0967-3334/26/5/023"
                        target="_blank">10.1088/0967-3334/26/5/023</a></i>
                  </li>
                </ol>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Conference</h2>
                <p class="item-intro text-muted">Etc.</p>
                <img class="img-fluid" style="border-radius:70%; max-width: 40%; height: auto;"
                  src="img/portfolio/2.png" alt="">
                <ol style="text-align: left;">
                  <li>
                    <b>Wire bonding lifetime prediction of LED packages using numerical analysis</b>
                    <br /><i>2017 18th International Conference on Thermal, Mechanical and Multi-Physics Simulation
                      and
                      Experiments in Microelectronics and Microsystems, EuroSimE 2017</i>
                    <br />2017 | conference-paper
                    <br />DOI: 10.1109/EuroSimE.2017.7926222
                    <br />EID: 2-s2.0-85020170391
                    <br />Source:Sung-Uk ZhangviaScopus - Elsevier
                  </li>
                  <br />
                  <li>
                    <b>Keynote presentation – Thermo-mechanical properties of 3D printed ABS parts fabricated by fused
                      deposition modelling and vapor smoothing</b>
                    <br />2017-04-04
                    <br />DOI: <a
                      href="https://www.eurosime.org/index.php/2017-dresden/">https://www.eurosime.org/index.php/2017-dresden/</a>
                    <br />Dong-Eui University, Busan, South Korea
                    <br />Ulsan National Institute of Science of Technology, Ulsan, South Korea
                    <br /> Sung-Uk Zhang<i>(1)</i>, Jonghyeuk Han<i>(2)</i>, Hyun-Wook Kang<i>(2)</i>, Byoung-Chul
                    Shin<i>(1)</i>
                  </li>
                  <br />
                  <li>
                    <b>Thermo-mechanical properties of ABS parts fabricated by fused deposition modeling and vapor
                      smoothing </b>
                    <br />2013-04-17
                    <br />DOI: <a
                      href="https://www.eurosime.org/index.php/2013-wroclaw/">https://www.eurosime.org/index.php/2013-wroclaw/</a>
                    <br />Corresponding Author: Sung-Uk Zhang – Samsung Electronics
                  </li>
                  <br />
                  <li>
                    <b>Analysis of magnetically actuated structures using implicit boundary finite element method</b>
                    <br /><i>Collection of Technical Papers - AIAA/ASME/ASCE/AHS/ASC Structures, Structural Dynamics
                      and
                      Materials Conference</i>
                    <br />2010 | conference-paper
                    <br />EID: 2-s2.0-84855627458
                    <br />Source:Scopus - Elsevier
                  </li>
                  <br />
                  <li>
                    <b>Damage sensing by inverse estimation of electrical resistivity of composite structure</b>
                    <br /><i>Proceedings of the ASME Design Engineering Technical Conference</i>
                    <br />2010 | conference-paper
                    <br />DOI: 10.1115/DETC2010-28859
                    <br />EID: 2-s2.0-80054966946
                    <br />Source:Scopus - Elsevier
                  </li>
                  <br />
                  <li>
                    <b>Portable 8-electrode EIT measurement system</b>
                    <br /><i>IFMBE Proceedings</i>
                    <br />2007 | conference-paper
                    <br />EID: 2-s2.0-84876499784
                    <br />Source:Scopus - Elsevier
                  </li>
                  <br />
                  <li>
                    <b>Noise analysis of MREIT at 3T and 11T field strength</b>
                    <br /><i>Annual International Conference of the IEEE Engineering in Medicine and Biology -
                      Proceedings</i>
                    <br />2005 | conference-paper
                    <br />EID: 2-s2.0-33846936035
                    <br />Source:Scopus - Elsevier
                  </li>
                </ol>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Project</h2>
                <p class="item-intro text-muted">Digital Twin Laboratory</p>
                <img class="img-fluid" style="border-radius:70%; max-width: 40%; height: auto;"
                  src="img/portfolio/3.png" alt="">
                <table class="table table-hover" style="margin-left: auto; margin-right: auto;">
                  <thead>
                    <tr class="table-info">
                      <th scope="col"><b>과제명</b></th>
                      <th scope="col"><b>연구내용</b></th>
                      <th scope="col"><b>기간</b></th>
                      <th scope="col"><b>연구지원기관</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        ICT DNA를 기반으로한
                        <br />개체굴 양식어장
                        <br />관리시스템 개발
                      </td>
                      <td>
                        빅데이터 수집, 클라우드
                        <br />저장, AI 분석을 통한
                        <br />양식 최적화 및
                        <br />생산량 예측 시스템
                      </td>
                      <td>
                        2019.07.01 ~
                        <br /> 2020.12.31
                      </td>
                      <td>
                        과학기술정보통신부
                      </td>
                    </tr>
                    <tr>
                      <td>
                        고분자 열화에 따른
                        <br />3D프린터 제품의
                        <br />신뢰성 평가
                      </td>
                      <td>
                        AI를 활용한 평가 모델,
                        <br />열화 현상에 따른 물성 평가,
                        <br />CAE를 이용한 디자인
                        <br />가이드 구축
                      </td>
                      <td>
                        2017.09.01 ~
                        <br /> 2019.08.31
                      </td>
                      <td>
                        한국연구재단
                      </td>
                    </tr>
                    <tr>
                      <td>
                        고저압 자동연동에 의한
                        <br />휴대용 초고압
                        <br />핸드 유압펌프 개발
                      </td>
                      <td>
                        CAE를 이용한 제품의
                        <br />수명 예측 모델 개발,
                        <br />오일링의 열화에 따른
                        <br />디자인 가이드 구축
                      </td>
                      <td>
                        2019.03.01 ~
                        <br /> 2018.12.31
                      </td>
                      <td>
                        산업자원부
                      </td>
                    </tr>
                    <tr>
                      <td>
                        LED 신뢰성
                        <br />예측 모델 개발
                      </td>
                      <td>
                        CAE를 이용한 제품의
                        <br />LED 신뢰성 모델 개발,
                        <br /> 구조해석 지원
                      </td>
                      <td>
                        2010.5.01 ~
                        <br /> 2016.03.15
                      </td>
                      <td>
                        삼성전자
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/agency.min.js"></script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>