{% set title = "Wellcome | Digital Twin" %} {% extends "./layout/base.html" %}
{% block css %}
<link rel="stylesheet" href="css/momentum.css" />
{% endblock %} {% block script %}
<script defer src="js/momentum/bg.js"></script>
<script defer src="js/momentum/clock.js"></script>
<script defer src="js/momentum/greeting.js"></script>
<script defer src="js/momentum/todo.js"></script>
<!-- <script src="js/momentum/weather.js"></script> -->
{% endblock %} {% block contents%}
<section class="momentum-section">
  <div class="momentum-section__bg js-backgroundImg"></div>
  <main class="momentum">
    <!-- Header -->
    <header class="momentum__header">
      <div class="momentum__header-wrapper header-wrapper">
        <div class="header-wrapper__title">
          Digital Twin Laboratory
        </div>
        <div class="header-wrapper__sub-title">
          동의대학교 정보공학관(23호관) 107호
        </div>
      </div>
    </header>

    <div class="momentum__mobile">
      <div class="momentum__mobile-btn">
        <button class="mobile-userImg">
          <img src="/img/team/4.jpg" alt="페퍼보이" />
        </button>
      </div>
      <div class="momentum__mobile-wrapper">
        <div class="momentum__mobile-name mName">
          <form class="mName__form js-mNameForm">
            <input type="text" maxlength="4" placeholder="이름을 입력하세요." />
          </form>
          <div
            class="mName__greetings js-mGreetings"
            style="display: none;"
          ></div>
        </div>
      </div>
    </div>

    <div class="momentum__main">
      <div class="momentum__main-clock js-clock">
        <h1>00:00</h1>
      </div>

      <div class="momentum__main-box todos-box">
        <div class="todos-box__header">
          <div class="momentum__main-name name">
            <form class="name__form js-nameForm">
              <input
                type="text"
                maxlength="4"
                placeholder="이름을 입력하세요."
              />
            </form>
            <div
              class="name__greetings js-greetings"
              style="display: none;"
            ></div>
          </div>
          <div class="momentum__main-todos todos">
            <form class="todos__form js-todoForm">
              <input type="text" placeholder="오늘 할일을 입력하세요." />
            </form>
          </div>
        </div>
        <div class="todos-box__hidden">
          <ul class="todoList js-todoList"></ul>
        </div>
      </div>
    </div>
  </main>
  <div class="momentum__logo logo">
    <span class="logo__deu">
      <img src="img/logos/deu-logo.png" alt="동의대학교" />
    </span>
  </div>
  <!-- <div class="momentum__weather">
    <span class="weather js-weather"></span>
  </div> -->
</section>

{% endblock %}
