{% set title = "member | Digital Twin" %} {% extends "./layout/base.html" %} {%
block css %}
<link rel="stylesheet" href="css/member.css" />
{% endblock %} {% block script %}
<script defer src="js/member/member.js"></script>
{% endblock %} {% block contents%} {% from "macro/link.html" import bgWrapper %}
{{ bgWrapper("member") }}
<main class="member">
  <header class="member__header">
    <h1 class="member__title">member</h1>
    <h2 class="member__sub-title">Digital Twin Laboratory</h2>
  </header>
  <section class="member__main">
    <div class="member__row">
      <div class="member__column">
        <div class="member__img js-mImg">
          <img src="img/team/1.jpeg" alt="Sung-Uk Zhang" />
          <a class="email" href="mailto: zsunguk@deu.ac.kr">
            zsunguk@deu.ac.kr
          </a>
        </div>
        <dl class="member__info">
          <dt>Sung-Uk Zhang</dt>
          <dd>Professor</dd>
        </dl>
      </div>
      <div class="member__column">
        <div class="member__img js-mImg">
          <img src="img/team/2.jpeg" alt="Hyun-Joo Yoo" />
          <a class="email" href="mailto: comjoo@deu.ac.kr">
            comjoo@deu.ac.kr
          </a>
        </div>
        <dl class="member__info">
          <dt>Hyun-Joo Yoo</dt>
          <dd>Researcher</dd>
        </dl>
      </div>
    </div>
    <div class="member__row">
      <div class="member__column">
        <div class="member__img js-mImg">
          <img src="img/team/3.png" alt="Na-yeon Choi" />
          <a class="email" href="mailto: miss_jackson@naver.com">
            miss_jackson<br />@naver.com
          </a>
        </div>
        <dl class="member__info">
          <dt>Na-Yeon Choi</dt>
          <dd>Postgraduate Student</dd>
        </dl>
      </div>
      <div class="member__column">
        <div class="member__img js-mImg">
          <img src="img/team/4.jpg" alt="salswnss@gmail.com" />
          <a class="email" href="mailto: salswnss@gmail.com">
            salswnss@gmail.com
          </a>
          <a class="github" href="https://github.com/jjunnnys" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <dl class="member__info">
          <dt>Min-Jun Seo</dt>
          <dd>student</dd>
        </dl>
      </div>
    </div>
  </section>
</main>
<main class="alumni">
  <header class="alumni__header">
    <h1 class="alumni__title">alumni</h1>
    <h2 class="alumni__sub-title">Laboratory History</h2>
  </header>
  <section class="alumni__main">
    <div class="alumni__row">
      <div class="alumni__column">
        <dl class="alumni__itmes">
          <dt>
            2016-17 <br />
            Kyeong-su Seol
          </dt>
          <dl>(현)신화모텍 개발팀 근무</dl>
        </dl>
        <dl class="alumni__itmes">
          <dt>
            <em>대표적인 연구성과</em>
          </dt>
          <dl>
            "Fatigue Test of 3D-printed ABS Parts <br />
            Fabricated by Fused Deposition Modeling"
          </dl>
        </dl>
      </div>
      <div class="alumni__column">
        <img
          class="js-alumni-Seol"
          src="img/team/about/1.jpg"
          alt="Kyeong-su Seol"
        />
      </div>
    </div>
    <div class="alumni__row">
      <div class="alumni__column">
        <img
          class="js-alumni-Zhao"
          src="img/team/about/2.jpg"
          alt="Panxi Zhao"
        />
      </div>
      <div class="alumni__column">
        <dl class="alumni__itmes">
          <dt>
            2017-18 <br />
            Panxi Zhao
          </dt>
          <dl>...</dl>
        </dl>
        <dl class="alumni__itmes">
          <dt>
            대표적인 연구성과
          </dt>
          <dl>
            "Infill Print Parameters for Mechanical Properties <br />
            of 3D Printed PLA Parts"
          </dl>
        </dl>
      </div>
    </div>
  </section>
</main>
{% include "layout/footer.html" %} {% endblock %}
