{% set title = "research | Digital Twin" %} {% extends "./layout/base.html" %}
{% block css %}
<link rel="stylesheet" href="css/research.css" />
{% endblock %} {% block script %}
<script defer src="js/research/research.js"></script>
{% endblock %} {% block contents%} {% from "macro/link.html" import bgWrapper %}
{{ bgWrapper("research") }}
<main class="research">
  <div class="research__header">
    <h1 class="research__title">research</h1>
    <h2 class="research__sub-title">Paper & Project</h2>
  </div>
  <section class="research__main">
    <div class="research__column">
      <div class="research__img rImg">
        <div class="rImg__cover">
          <button type="button" class="js-cover">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <img src="img/research/journal.png" alt="journal" />
      </div>
      <h3>Paper</h3>
      <h4>Journal</h4>
    </div>
    <div class="research__column">
      <div class="research__img rImg">
        <div class="rImg__cover">
          <button type="button" class="js-cover">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <img src="img/research/conference.png" alt="conference" />
      </div>
      <h3>Paper</h3>
      <h4>Conference</h4>
    </div>
    <div class="research__column">
      <div class="research__img rImg">
        <div class="rImg__cover">
          <button type="button" class="js-cover">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <img src="img/research/laboratory.png" alt="laboratory" />
      </div>
      <h3>Project</h3>
      <h4>Laboratory</h4>
    </div>
  </section>
</main>

<!-- 모달0 -->
<section class="modal js-modal">
  <button class="modal__btn js-modal-btn" type="button">
    <i class="fas fa-times"></i>
  </button>
  <div class="modal__contents">
    <header class="modal__contents-header mHeader">
      <h1 class="mHeader__title">journal</h1>
      <h2 class="mHeader__sub-title">JOURNAL PUBLICATIONS & BOOK CHAPTER</h2>
    </header>
    <div class="modal__wrapper">
      <ol class="wrapper__items itmes">
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              Na-Yeon Choi, Byoung-Chul Shin, <strong>S.-U. Zhang</strong>
            </dt>
            <dd>
              “A Comparative Study of the Linear-elastic and Hyperelastic Models
              for Degradation of PLA Prepared using Fused Filament Fabrication”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >Journal of the Korean Society of Manufacturing Process
                Engineers</span
              >, 2020-03-22 | journal-article.
            </dt>
            <dd>...</dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt><strong>S.-U. Zhang</strong></dt>
            <dd>
              "Classifying Degraded Three-Dimensionally Printed Polylactic Acid
              Specimens Using Artificial Neural Networks based on Fourier
              Transform Infrared Spectroscopy"
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt><span>Applide Sciences</span>, 2019 | journal-article</dt>
            <dd>
              DOI:<a
                href="https://www.mdpi.com/2076-3417/9/13/2772"
                target="_blank"
              >
                10.3390/app9132772</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              K.-S. Seol, P. Zhao, B.-C. Shin, <strong>S.-U. Zhang</strong>
            </dt>
            <dd>
              “Infill Print Parameters for Mechanical Properties of 3D Printed
              PLA Parts”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >Journal of the Korean Society of Manufacturing Process
                Engineers</span
              >, 2018-08-01 | journal-article.
            </dt>
            <dd>
              <a
                href="https://doi.org/10.14775/ksmpe.2018.17.4.009"
                target="_blank"
                >https://doi.org/10.14775/ksmpe.2018.17.4.009</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt><strong>S.-U. Zhang</strong></dt>
            <dd>
              “Degradation Classification of 3D Printing Thermoplastics Using
              Fourier Transform Infrared Spectroscopy and Artificial Neural
              Networks”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span>Applied Sciences</span>, 2018-07-25 | journal-article.
            </dt>
            <dd>
              DOI:<a
                href="https://www.mdpi.com/2076-3417/8/8/1224"
                target="_blank"
              >
                10.3390/app8081224
              </a>
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>K.-S. Seol, B.-C. Shin, <strong>S.-U. Zhang</strong></dt>
            <dd>
              “Fatigue Test of 3D-printed ABS Parts Fabricated by Fused
              Deposition Modeling”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >Journal of the Korean Society of Manufacturing Process
                Engineers</span
              >, 2018 | journal-article.
            </dt>
            <dd>
              <a
                href="https://doi.org/10.14775/ksmpe.2018.17.3.093"
                target="_blank"
                >https://doi.org/10.14775/ksmpe.2018.17.3.093</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt><strong>S.-U. Zhang</strong></dt>
            <dd>
              “Numerical evaluation of ABS parts fabricated by fused deposition
              modeling and vapor smoothing”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >Advances in Science, Technology and Engineering Systems
                Journal</span
              >, 2017-12-01| journal-article.
            </dt>
            <dd>
              DOI:<a
                href="https://www.researchgate.net/publication/322726989_Numerical_evaluation_of_ABS_parts_fabricated_by_fused_deposition_modeling_and_vapor_smoothing"
                target="_blank"
                >10.25046/aj020620</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt><strong>S.-U. Zhang</strong></dt>
            <dd>
              “Long-Term Reliability Prediction of LED Packages Using Numerical
              Simulation”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span>Solid State Lighting Reliability Part 2</span>, 2017-07-13|
              book-chapter.
            </dt>
            <dd>
              <a
                href="https://doi.org/10.1007/978-3-319-58175-0_18"
                target="_blank"
                >https://doi.org/10.1007/978-3-319-58175-0_18</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              S.J. Noh, N.H. Myung, M.J. Park, S.G. Kim,
              <strong>S.-U. Zhang</strong>, H.-W. Kang
            </dt>
            <dd>
              “3D bioprinting for tissue engineering”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span>Clinical Regenerative Medicine in Urology</span>, 2017 |
              book-chapter.
            </dt>
            <dd>
              DOI:
              <a
                href="https://link.springer.com/chapter/10.1007%2F978-981-10-2723-9_5"
                target="_blank"
                >10.1007/978-981-10-2723-9_5</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt><strong>S.-U. Zhang</strong>, J.H. Han, H.-W. Kang</dt>
            <dd>
              “Temperature-dependent mechanical properties of ABS parts
              fabricated by fused deposition modeling and vapor smoothing”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >International Journal of Precision Engineering and
                Manufacturing</span
              >, 2017 | journal-article.
            </dt>
            <dd>
              DOI:
              <a
                href="https://link.springer.com/article/10.1007%2Fs12541-017-0091-7"
                target="_blank"
                >10.1007/s12541-017-0091-7</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              <strong>S.-U. Zhang</strong>
            </dt>
            <dd>
              “Chip package interaction for LED packages”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt><span>Reliability</span>, 2016-08 | journal-article.</dt>
            <dd>
              DOI:
              <a
                href="https://www.sciencedirect.com/science/article/pii/S0026271416301391?via%3Dihub"
                target="_blank"
                >10.1016/j.microrel.2016.06.014</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              <strong>S.-U. Zhang</strong>
            </dt>
            <dd>
              “Quantification of silicone degradation for LED packages using
              finite element analysis”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span>Microelectronics Reliability</span>, 2015-12 |
              journal-article.
            </dt>
            <dd>
              DOI:
              <a
                href="https://www.sciencedirect.com/science/article/pii/S0026271415301621?via%3Dihub"
                target="_blank"
                >10.1016/j.microrel.2015.09.006</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt><strong>S.-U. Zhang</strong>, B.W. Lee</dt>
            <dd>
              “Fatigue life evaluation of wire bonds in LED packages using
              numerical analysis”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span>Microelectronics Reliability</span>, 2014 | journal-article.
            </dt>
            <dd>
              DOI:
              <a
                href="https://www.sciencedirect.com/science/article/pii/S0026271414003448?via%3Dihub"
                target="_blank"
                >10.1016/j.microrel.2014.07.142</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt><strong>S.-U. Zhang</strong>, A.V. Kumar</dt>
            <dd>
              “Inverse method for estimating resistivity of carbon fiber
              composite structures”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >Journal of Engineering Materials and Technology, Transactions
                of the ASME</span
              >, 2011 | journal-article.
            </dt>
            <dd>
              DOI:
              <a
                href="https://asmedigitalcollection.asme.org/materialstechnology/article-abstract/133/1/011009/465357/Inverse-Method-for-Estimating-Resistivity-of?redirectedFrom=fulltext"
                target="_blank"
                >10.1115/1.4002627</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt><strong>S.-U. Zhang</strong>, A.V. Kumar</dt>
            <dd>
              “Three-dimensional magnetostatic analysis using structured mesh
              and nodal elements”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span>IEEE Transactions on Magnetics</span>, 2011 |
              journal-article.
            </dt>
            <dd>
              DOI:<a
                href="https://ieeexplore.ieee.org/document/5599299"
                target="_blank"
                >10.1109/TMAG.2010.2086064</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              R.J. Sadleir, <strong>S.-U. Zhang</strong>, A.S. Tucker, S.H. Oh
            </dt>
            <dd>
              “Imaging and quantification of anomaly volume using an
              eight-electrode 'hemiarray' EIT reconstruction method”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span>Physiological Measurement</span>, 2008 | journal-article.
            </dt>
            <dd>
              DOI:
              <a
                href="https://iopscience.iop.org/article/10.1088/0967-3334/29/8/005"
                target="_blank"
                >10.1088/0967-3334/29/8/005</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              R.J. Sadleir, S. Grant, <strong>S.-U. Zhang</strong>, S.H. Oh,
              B.I. Lee, E.J. Woo,
            </dt>
            <dd>
              “High field MREIT: Setup and tissue phantom imaging at 11 T”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span>Physiological Measurement</span>, 2006 | journal-article.
            </dt>
            <dd>
              DOI:
              <a
                href="https://iopscience.iop.org/article/10.1088/0967-3334/27/5/S22"
                target="_blank"
                >10.1088/0967-3334/27/5/S22</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              R.J. Sadleir, S. Grant, <strong>S.-U. Zhang</strong>, B.I. Lee,
              H.C. Pyo, S.H. Oh, C. Park, E.J. Woo, S.Y. Lee, O. Kwon,J.K. Seo,
            </dt>
            <dd>
              “Noise analysis in magnetic resonance electrical impedance
              tomography at 3 and 11 T field”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span>Physiological Measurement</span>, 2005 | journal-article.
            </dt>
            <dd>
              DOI:
              <a
                href="https://iopscience.iop.org/article/10.1088/0967-3334/26/5/023"
                target="_blank"
                >10.1088/0967-3334/26/5/023</a
              >
            </dd>
          </dl>
        </li>
      </ol>
    </div>
  </div>
</section>
<!-- 모달1 -->
<section class="modal js-modal">
  <button class="modal__btn js-modal-btn" type="button">
    <i class="fas fa-times"></i>
  </button>
  <div class="modal__contents">
    <header class="modal__contents-header mHeader">
      <h1 class="mHeader__title">Conference</h1>
      <h2 class="mHeader__sub-title">Etc.</h2>
    </header>
    <div class="modal__wrapper">
      <ol class="wrapper__items itmes">
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>Source:<strong>Sung-Uk Zhang</strong> viaScopus - Elsevier</dt>
            <dd>
              “Mechanical and Multi-Physics Simulation and Experiments in
              Microelectronics and Microsystems - Wire bonding lifetime
              prediction of LED packages using numerical analysis”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >2017 18th International Conference on Thermal, EuroSimE
                2017</span
              >, 2017 | conference-paper.
            </dt>
            <dd>
              DOI: 10.1109/EuroSimE.2017.7926222 <br />
              EID: 2-s2.0-85020170391
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              <strong>Sung-Uk Zhang</strong>, Jonghyeuk Han, Hyun-Wook Kang,
              Byoung-Chul Shin
            </dt>
            <dd>
              "Keynote presentation – Thermo-mechanical properties of 3D printed
              ABS parts fabricated by fused deposition modelling and vapor
              smoothing"
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >Ulsan National Institute of Science of Technology, Ulsan, South
                Korea</span
              >, 2017-04-04
            </dt>
            <dd>
              DOI:
              <a href="https://www.eurosime.org/index.php/2017-dresden/"
                >https://www.eurosime.org/index.php/2017-dresden/</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              Corresponding Author: <storng>Sung-Uk Zhang</storng> – Samsung
              Electronics
            </dt>
            <dd>
              “Thermo-mechanical properties of ABS parts fabricated by fused
              deposition modeling and vapor smoothing”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt><span>...</span>, 2013-04-17</dt>
            <dd>
              DOI:
              <a href="https://www.eurosime.org/index.php/2013-wroclaw/"
                >https://www.eurosime.org/index.php/2013-wroclaw/</a
              >
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>Source:Scopus - Elsevier</dt>
            <dd>
              “Analysis of magnetically actuated structures using implicit
              boundary finite element method”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >Collection of Technical Papers - AIAA/ASME/ASCE/AHS/ASC
                Structures, Structural Dynamics and Materials Conference</span
              >, 2010 | conference-paper.
            </dt>
            <dd>
              EID: 2-s2.0-84855627458
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>Source:Scopus - Elsevier</dt>
            <dd>
              “Damage sensing by inverse estimation of electrical resistivity of
              composite structure”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >Proceedings of the ASME Design Engineering Technical
                Conference</span
              >, 2010 | conference-paper.
            </dt>
            <dd>
              DOI: 10.1115/DETC2010-28859
              <br />EID: 2-s2.0-80054966946
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt><strong>S.-U. Zhang</strong></dt>
            <dd>
              “Portable 8-electrode EIT measurement system”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt><span>IFMBE Proceedings</span>, 2010 | conference-paper.</dt>
            <dd>
              DOI: 10.1115/DETC2010-28859
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>Source:Scopus - Elsevier</dt>
            <dd>
              “Portable 8-electrode EIT measurement system”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt><span>IFMBE Proceedings</span>, 2007 | conference-paper.</dt>
            <dd>
              EID: 2-s2.0-84876499784
            </dd>
          </dl>
        </li>
        <li class="itmes__item">
          <dl class="itmes__item-contents">
            <dt>
              Source:Scopus - Elsevier
            </dt>
            <dd>
              “Noise analysis of MREIT at 3T and 11T field strength”
            </dd>
          </dl>
          <dl class="itmes__item-etc">
            <dt>
              <span
                >Annual International Conference of the IEEE Engineering in
                Medicine and Biology - Proceedings</span
              >, 2005 | conference-paper.
            </dt>
            <dd>
              EID: 2-s2.0-33846936035
            </dd>
          </dl>
        </li>
      </ol>
    </div>
  </div>
</section>
<!-- 모달2 -->
<section class="modal js-modal">
  <button class="modal__btn js-modal-btn" type="button">
    <i class="fas fa-times"></i>
  </button>
  <div class="modal__contents modal--project">
    <header class="modal__contents-header mHeader">
      <h1 class="mHeader__title">project</h1>
      <h2 class="mHeader__sub-title">Digital Twin Laboratory</h2>
    </header>
    <div class="modal__wrapper">
      <ul class="modal__timeline timline">
        <li class="timline__item" data-date="2020.12.31 ~2019.07.01">
          <dl>
            <dt>과제명</dt>
            <dd>ICT DNA를 기반으로한 개체굴 양식어장 관리시스템 개발</dd>
          </dl>
          <dl>
            <dt>연구내용</dt>
            <dd>
              빅데이터 수집, 클라우드 저장, AI 분석을 통한 양식 최적화 및 생산량
              예측 시스템
            </dd>
          </dl>
          <dl>
            <dt>연구지원기관</dt>
            <dd>과학기술정보통신부</dd>
          </dl>
        </li>
        <li class="timline__item" data-date="2019.08.31 ~2017.09.01">
          <dl>
            <dt>과제명</dt>
            <dd>고분자 열화에 따른 3D프린터 제품의 신뢰성 평가</dd>
          </dl>
          <dl>
            <dt>연구내용</dt>
            <dd>
              AI를 활용한 평가 모델, 열화 현상에 따른 물성 평가, CAE를 이용한
              디자인 가이드 구축
            </dd>
          </dl>
          <dl>
            <dt>연구지원기관</dt>
            <dd>한국연구재단</dd>
          </dl>
        </li>
        <li class="timline__item" data-date="2019.03.01 ~2018.12.31">
          <dl>
            <dt>과제명</dt>
            <dd>고저압 자동연동에 의한 휴대용 초고압 핸드 유압펌프 개발</dd>
          </dl>
          <dl>
            <dt>연구내용</dt>
            <dd>
              CAE를 이용한 제품의 수명 예측 모델 개발, 오일링의 열화에 따른
              디자인 가이드 구축
            </dd>
          </dl>
          <dl>
            <dt>연구지원기관</dt>
            <dd>산업자원부</dd>
          </dl>
        </li>
        <li class="timline__item" data-date="2016.03.15 ~2010.05.01">
          <dl>
            <dt>과제명</dt>
            <dd>LED 신뢰성 예측 모델 개발</dd>
          </dl>
          <dl>
            <dt>연구내용</dt>
            <dd>
              CAE를 이용한 제품의 LED 신뢰성 모델 개발, 구조해석 지원
            </dd>
          </dl>
          <dl>
            <dt>연구지원기관</dt>
            <dd>삼성전자</dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</section>
{% include "layout/footer.html" %} {% endblock %}
