{% set title = "research | Digital Twin" %} {% extends "./layout/base.html" %}
{% block css %}
<link rel="stylesheet" href="css/research.css" />
{% endblock %} {% block script %}
<script defer src="js/research/research.js"></script>
{% endblock %} {% block contents%} {% from "macro/link.html" import bgWrapper %}
{{ bgWrapper("research") }}
<main class="research">
  <div class="research__header">
    <h1 class="research__title">research</h1>
    <h2 class="research__sub-title">Paper & Project</h2>
  </div>
  <div class="research__main">
    <div class="research__column">
      <div class="research__img rImg">
        <img src="img/research/journal.png" alt="journal" />
        <span class="rImg__cover"></span>
      </div>
      <h3>Paper</h3>
      <h4>Journal</h4>
    </div>
    <div class="research__column">
      <div class="research__img rImg">
        <img src="img/research/conference.png" alt="journal" />
        <span class="rImg__cover"></span>
      </div>
      <h3>Paper</h3>
      <h4>Conference</h4>
    </div>
    <div class="research__column">
      <div class="research__img rImg">
        <img src="img/research/laboratory.png" alt="journal" />
        <span class="rImg__cover"></span>
      </div>
      <h3>Project</h3>
      <h4>Laboratory</h4>
    </div>
  </div>
</main>
{% include "layout/footer.html" %} {% endblock %}
