{% extends "layout/base.html" %} {% block css %} {% endblock %} {% block script
%} {% endblock %} {% block contents%}
<main class="board-detail detail">
  <header class="detail__header">
    <h1 class="detail__title">제목</h1>
    <label for="tags">태그</label>
    <span id="tags" class="detail__tag">
      ALL
    </span>
  </header>
  <section class="detail__main">
    <textarea class="detail__contents" readonly>contents</textarea>
    <a class="detail__prev" href="">
      돌아가기
    </a>
  </section>
</main>
{% endblock %}
