{% set title = "게시판 | Digital Twin" %} {% extends "layout/base.html" %} {%
block css %}
<link rel="stylesheet" href="css/board/board.css" />
{% endblock %} {% block script %} {% endblock %} {% block contents%}
<main class="board">
  <header class="board__header">
    <h1 class="board__title">#All</h1>
    <ul class="board__title-list title-list">
      <li class="title-list__item">
        <a href="">
          All
        </a>
      </li>
      <li class="title-list__item">
        <a href="">
          gallery
        </a>
      </li>
      <li class="title-list__item">
        <a href="">
          paper
        </a>
      </li>
      <li class="title-list__item">
        <a href="">
          news
        </a>
      </li>
    </ul>
  </header>
  <section class="board__main">
    <ol class="board__list posts">
      <li class="posts__post post">
        <div class="post__column">
          <div class="post__img">
            <img src="/img/course.png" alt="기타" />
          </div>
        </div>
        <div class="post__column">
          <h2 class="post__title">Digital Twin 기사</h2>
        </div>
        <div class="post__column">
          <a href="board/board_detail.html">더보기</a>
        </div>
      </li>
    </ol>
  </section>
</main>

{% endblock %}
