<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />

    <!-- 카톡 미리보기 이미지 -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://digitaltwin.deu.ac.kr" />
    <meta property="og:title" content="Digital Twin" />
    <meta
      property="og:description"
      content="Digital Twin Laboratory 홈페이지"
    />
    <meta
      property="og:image"
      content="http://digitaltwin.deu.ac.kr/img/icon/AI.png"
    />

    <meta charset=" utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="동의대학교 Digital Twin 연구실 홈페이지입니다."
    />
    <meta name="author" content="ppby" />

    <title>{{title}}</title>

    <!-- 부트스트랩 -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- 폰트링크 -->
    <script
      defer
      src="https://kit.fontawesome.com/cd5e56d4b7.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <!-- css -->
    {% block css %} {% endblock%}
    <!-- js -->
    {% block script %} {% endblock%}
  </head>
  <body
    id="page-top"
    oncontextmenu="return false"
    ondragstart="return false"
    onselectstart="return false"
  >
    {% include "./nav.html" %} {% block contents%} {% endblock %}
  </body>
</html>
