<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- 파비콘 -->
    <link
      rel="shortcut icon"
      href="img/logos/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="img/logos/favicon.ico" type="image/x-icon" />

    <!-- 카톡 미리보기 이미지 -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://digitaltwin.deu.ac.kr" />
    <meta property="og:title" content="Digital Twin" />
    <meta
      property="og:description"
      content="Digital Twin Laboratory 홈페이지"
    />
    <meta
      property="og:image"
      content="http://digitaltwin.deu.ac.kr/img/icon/AI.png"
    />

    <meta charset=" utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="keywords" content="Digital Twin" />
    <meta
      name="description"
      content="동의대학교 Digital Twin 연구실 홈페이지입니다."
    />
    <meta name="author" content="ppby" />

    <title>{{title}}</title>

    <!-- 폰트링크 -->
    <script
      src="https://kit.fontawesome.com/cd5e56d4b7.js"
      crossorigin="anonymous"
    ></script>

    <!-- css -->
    {% block css %} {% endblock%}
    <!-- js -->
    {% block script %} {% endblock%}
  </head>
  <body
    id="page-top"
    oncontextmenu="return false"
    ondragstart="return false"
    onselectstart="return false"
  >
    {% include "./nav.html" %} {% block contents%} {% endblock %}
  </body>
</html>
