<nav class="nav">
  <div class="nav__column">
    <div class="nav__logo">
      <a href="/" class="nav__logo-link">
        Digital Twin Laboratory
      </a>
    </div>
  </div>
  <div class="nav__column">
    <div class="nav__contents">
      <ul class="nav__menu menu">
        {% from "macro/link.html" import navLink %} {{ navLink('./digitalTwin' ,
        "DIGITAL TWIN?" , req_path ) }} {{ navLink('./research' , "RESEARCH" ,
        req_path ) }} {{ navLink('./gallery' , "GALLERY" , req_path ) }} {{
        navLink('./member' , "MEMBER" , req_path ) }} {{ navLink( './contact'
        ,"CONTACT" , req_path ) }}
      </ul>
    </div>
    <div class="nav__user">
      <button class="nav__user-btn">
        <img src="/img/logos/dt-logo.png" alt="" />
      </button>
    </div>
  </div>
  <div class="nav__column">
    <div class="mobile">
      <input type="checkbox" id="menuToggle" />
      <label for="menuToggle" class="mobile__menu-open">
        <div class="open"></div>
      </label>

      <div class="mobile__menu menu--effects">
        <label for="menuToggle"></label>
        <div class="mobile__menu-content">
          <ul class="nav__menu menu">
            {% from "macro/link.html" import navLink %} {{
            navLink('./digitalTwin' , "DIGITAL TWIN?" , req_path ) }} {{
            navLink('./research' , "RESEARCH" , req_path ) }} {{
            navLink('./gallery' , "GALLERY" , req_path ) }} {{
            navLink('./member' , "MEMBER" , req_path ) }} {{ navLink(
            './contact' ,"CONTACT" , req_path ) }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
